.side-drawer{
    height: 100%;
    background: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    position:fixed;
    top: 60px;
    left: 0;
    width: 40%;
    max-width: 300px;
    z-index: 200;
    overflow: auto;
}

.side-drawer ul{
    height: 100%;
    display: flex;
    list-style: none;
   
    flex-direction: column;
    justify-content: baseline;
}

.side-drawer li{
    margin: 2em;
}
.side-drawer a{
    color: #521751;
    text-decoration: none;
    font-size: larger;
}

.side-drawer a:hover,
.side-drawer a:active{
color: orange;
}